.singleaDPage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.imgBox {
  width: 50%;
  height: 100vh;
  position: relative;
}
.activeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagesBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: max-content;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 10px;
}
.active {
  opacity: 1;
  transform: scale(1.1);
}
.image:hover {
  transform: scale(1.1);
}
.adContents {
  width: 50%;
  height: 100vh;
  padding: 50px;
  position: relative;
  overflow: auto;
}

.closeIcon {
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
  font-size: 30px;
  color: #000;
}

.adBriefDetailBox {
  padding: 20px;
  padding-top: 70px;
  text-align: start;
}
.adBriefDetailBox h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.description {
  font-family: "Montserrat", sans-serif;
}
.price {
  font-family: "Lobster", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: green;
}

.contentNav {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #00000019;
}
.contentNav span {
  cursor: pointer;
  padding: 0 30px 0 2px;
  font-size: 1.2rem;
}
.navActive {
  margin-bottom: -3px;
  border-bottom: 3px solid green;
}

.details {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  animation: slideFromRight 0.5s ease-in-out;
}
.cardTags {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardTags button {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0.2rem;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  background: green;
}
.redBtn {
  background-color: red !important;
}

.cardTags button:first-child {
  background-color: #0284c7;
  color: #f0f9ff;
}
.cardTags button:nth-child(2) {
  background-color: #15803d;
  color: #f0fdf4;
}
.locationTime {
  padding-top: 20px;
  font-family: "League Spartan", sans-serif;
}
.favIcon {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  scale: 1.3;
  color: green;
}
.favIcon:hover {
  transform: scale(1.4);
}
.userImgBox {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.userImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userText p {
  font-family: "League Spartan", sans-serif;
}
.icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.qAndA {
  background-color: #f4f2f247;
  border-left: 3px solid green;
  border-radius: 1rem;
  margin-top: 1rem;
}
.qandABox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.qandABox h3 {
  font-size: 1.7rem;
  scale: 1.1;
  font-weight: bold;
  padding: 10px;
}
.qandABox p {
  padding: 10px;
  width: 100%;
  font-size: 14px;
}
.qandABox textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #00000019;
  background-color: #fff;
  outline: none;
  resize: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
}
.qandABox button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: green;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer !important;
  border-radius: 10px;
}
.qandABox button:hover {
  transform: scale(1.1);
}

.questionBox {
  margin-top: 50px;
}
.qandABox textarea:active,
.qandABox textarea:hover,
.qandABox textarea:focus {
  border: 2px solid #00000062;
}

.editAdBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer !important;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0.2rem;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  background: #000;
}
.editAdBtn:hover {
  transform: scale(1.1);
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
  }
}
