.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imageBox {
  background-image: url("../../images/bgbackdrop.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formBox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
}

.btnContainer button {
  cursor: pointer;
  background-color: transparent;
  color: green;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
}
.btnActive {
  background-color: green !important;
  color: #fff !important;
  animation: moveInLeft 0.5s ease-in-out;
}

.moveInRight {
  animation: moveInRight 0.5s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    background-color: none;
    transform: translateX(-1rem);
  }

  80% {
    background-color: #00000059;
    transform: translateX(1rem);
  }

  100% {
    background-color: #000;
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    background-color: none;
    transform: translateX(1rem);
  }

  80% {
    background-color: #00000059;
    transform: translateX(-1rem);
  }

  100% {
    background-color: #000;
    opacity: 1;
    transform: translate(0);
  }
}
