.mainBox {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  animation: scrollUp 0.7s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .mainBox {
    grid-template-columns: repeat(4, 1fr); 
    padding: 4rem; 
    grid-gap: 3rem; 
    
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
