/* CTA */
.seccta{
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #fff;
    border-style: solid;
    border-color: #000;
    margin-bottom: 2rem;
}

.prycta{
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #000;
    border-style: none;
}

.arrowicon{
    width: 2rem;
    height: 2rem;
    background-color: #c4c4c4;
}

/* Color */

.white{
    color: #fff;
}

.gray{
    color: #545454;
}

.lightgray{
    color: #B5B5B5;
}

.black{
    color: #000;
}

.accent1{
    color: #FE8FAF;
}

.accent2{
    color: #FF7A41;
}

.accent3{
    color: #7A6EFF;
}

.accent4{
    color: #A33A17;
}

.accent5{
    color: #04A5C2;
}

/* Typography */

.massivetext{
    color: #fff;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

h1{
    color: #000;
    font-size: 5.61rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

h2{
    color: #000;
    font-size: 4.21rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

h3{
    color: #000;
    font-size: 3.16rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
}

h4{
    color: #000;
    font-size: 2.37rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
}

h5{
    color: #000;
    font-size: 1.78rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 120px */
}

h6{
    color: #000;
    font-size: 1.33rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 120px */
}

p{
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

.tinytext{
    color: #000;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

.Extratiny{
    color: #000;
    font-size: 0.563rem;
    font-style: normal;
    font-weight: 649;
    line-height: 120%; /* 120px */
    letter-spacing: -2px;
}

/*  Navbar */

.fullnav{
    width: 100vw;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    background-color: #FBFBFB;
    position: fixed;
    top: 0rem;
}

.leftnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.seerchbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 0.75rem;
    border: 2px solid #000;
    border-radius: 0.25rem;
}

.searchicon{
    width: 2rem;
    height: 2rem;
    background-color: #c4c4c4;
    border-radius: 10rem;
}

.midnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.links{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.arrowicon{
    width: 2rem;
    height: 2rem;
    background: #c4c4c4;
    border-radius: 10rem;
}

.rightnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

.lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.righttop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.flag{
    width: 3rem;
    height: 2rem;
    background-color: #c4c4c4;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.icon{
    width: 2rem;
    height: 2rem;
    background-color: #c4c4c4;
    border-radius: 10rem;
}


/* full display */
.AdsGrid{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12rem 2.5rem ;
    gap: 1.5rem;
}
.Adsfull{   
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.adcard{
    padding: 0;
    text-align: center;
    height: 35rem;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5rem 0rem;
}

.mainimg{
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    border-radius: 0.25rem;
}

.subimglist{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.cardend{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subimg{
    width: 3.5rem;
    height: 3.5em;
    background-color: #c4c4c4;
    border-radius: 0.25rem;
}

.seller{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.sellerdp{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;
    border-radius: 10rem;
}





