.full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 72.7rem;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
}
.firstItem{
    width: 447px;
    height: 529px;
    flex-shrink: 0;
    background: #D9D9D9;
}
.secondItem{
    width: 623px;
    height: 813px;
    flex-shrink: 0;
    background: #D9D9D9;
}
.thirdItem{
    width: 520px;
    height: 615px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.leftSection h1{
    width: 50.5rem;
    text-align: left;
    color: #000;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 120px */
}

.RightSection h5{
    width: 27.5rem;
    color: #4F4F4F;
    text-align: right;
    font-size: 25px;
    font-style: normal;
    font-weight: 551;
    line-height: 100%; /* 44.8px */
}
.leftSection1{
    color: #4F4F4F;
  
    font-size: 32px;
    font-style: normal;
    font-weight: 551;
    line-height: 140%; /* 44.8px */
    width: 245px;
}

.RightSection1 h4{
    width: 20.25rem;
    color: #000;
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 96px */
    
}
